* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo {
  font-size: larger;
  width: fit-content;
  background-color: green;
  color: rgb(234, 237, 230);
  padding: 5px 10px;
  border-radius: 50px;
  margin-left: 20px;
  margin-right: 300px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid rgb(6, 71, 3);
}
.logo span {
  background-color: rgb(245, 247, 243);
  color: green;
  padding: 0px 5px;
  border-radius: 50px;
}

nav {
  background-color: #1b5a7a;
  height: 8vh;
  display: flex;
  align-items: center;
  font-size: 20px;
  border-bottom: 1px solid #a6ed8e;
  color: #f3ffb9;
  position: sticky;
  top: 0;
  gap: 700px;
}

.reg_login_btn {
  display: flex;
  gap: 20%;
}
.reg_login_btn a,
.logout_btn {
  text-decoration: none;
  background: #f3ffb9;
  color: #1b5a7a;
  padding: 5px 15px;
  border-radius: 10px;
  font-weight: bold;
}
.reg_login_btn a:hover,
.logout_btn:hover {
  color: black;
  background: #f1f3f0;
}
.layout {
  display: flex;
}

.sidebar {
  /* background-color: #f3ffb9; */
  background: #f3ffb9fa;
  height: 92vh;
  width: 10%;
  position: sticky;
  top: 69.6px;
}
.sidebar ul {
  margin-top: 20px;
  position: sticky;
}
.sidebar ul li {
  padding: 5px;
  padding-left: 0px;
}
.sidebar ul li a {
  text-decoration: none;
  color: #1b5a7a;
  font-weight: bold;
  font-size: larger;
  display: block;
  padding: 10px;
  margin: 0 0 20px 0;
  text-align: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.sidebar ul li a:hover {
  color: #a6ed8e;
  background-color: #13e035ad;
  box-shadow: 10px 0px 5px #1b5a7a;
}

/* Login register form styles  */
.reg_login_form {
  height: fit-content;
  width: 50%;
  padding: 10px;

  border: 1px solid #1b5a7a;
  background-color: #f3ffb9;
  margin: 40px auto;
  border-radius: 20px;
  h1 {
    margin-left: 45%;
    border-radius: 20px;
    padding: 5px 15px;
    color: green;
    background-color: #f7f8f9;
    border: 1px solid gray;
    border-bottom: 5px solid #1b5a7a;

    width: fit-content;
  }
  .form-group {
    margin-left: 20px;
    margin-bottom: 30px;
  }
  label {
    font-weight: bold;
    text-align: initial;
    font-size: larger;
    /* color: #e5ebed; */
  }
  input {
    width: 97%;
    border-radius: 30px;
    padding: 10px;
    padding-left: 15px;
    font-size: large;
    color: #1b5a7a;
  }
  button {
    margin: 20px;
    font-weight: bold;
    font-size: larger;
    border-radius: 15px;
    padding: 10px 25px;
    width: 95%;
    background-color: #1b5a7a;
  }
  button:hover {
    box-shadow: 0px 5px rgba(47, 47, 47, 0.821);
  }

  .redirectlink{
    text-align: center;
    margin-bottom: 20px;
  }
}

.content {
  height: fit-content;
  width: 100%;
  padding: 10px;

  border: 1px solid #1b5a7a;
  background-color: #f3ffb9;
  margin: 10px auto;
  border-radius: 20px;
  h1 {
    margin-left: 40%;
    border-radius: 20px;
    padding: 5px 10px;
    color: green;
    background-color: #f7f8f9;
    border: 1px solid gray;
    border-bottom: 5px solid #1b5a7a;

    width: fit-content;
  }
  .form-group {
    margin-left: 20px;
    margin-bottom: 5px;
  }
  label {
    font-weight: bold;
    text-align: initial;
    font-size: medium;
    /* color: #e5ebed; */
  }
  input {
    position: relative;
    width: 97%;
    border-radius: 30px;
    padding: 10px;
    padding-left: 15px;
    font-size: medium;
    color: #1b5a7a;
  }
  button {
    margin: 10px;
    font-weight: bold;
    font-size: large;
    border-radius: 15px;
    padding: 10px 25px;
    width: 95%;
    background-color: #1b5a7a;
  }
  button:hover {
    box-shadow: 0px 5px rgba(47, 47, 47, 0.821);
  }
}
/* videodata styles  start */

.vdataBlock {
  width: 50rem;
  font-size: 20px;
  padding: 20px;
  font-weight: 500;
}

.vdataBlock h1 {
  font-size: 30px;
}

th,
td {
  padding: 0.5rem;
  border: 1px solid orange;
  height: 2rem;
  color: #1b5a7a;
}

th {
  font-size: 20px;
  color: #1aa59a;
}
/* videodata styles end */

.content {
  /* border: 1px solid black; */
  margin: 3rem 30rem;
  font-size: 20px;
}
.content form {
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-group label {
  display: block;
  padding: 5px;
  color: #393e46;
}
form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #393e46;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #393e46;
  color: #f2f2f2;
  border: 1px solid #a6ed8e;
  font-size: 15px;
  border-radius: 3px;
}

/* ViewUsers style start  */
.search_page {
  width: 100%;
  background: linear-gradient(
    rgba(5, 139, 248, 0.637),
    rgba(90, 0, 128, 0.747)
  );
  display: flex;
}
.search_container {
  margin-top: 20px;
  padding: 20px;
  border-radius: 15px;
  background: linear-gradient(
    rgba(5, 139, 248, 0.637),
    rgba(90, 0, 128, 0.747)
  );
  background-color: #a6ed8e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 300px;
}
.searchimg {
  /* width: 500px; */
  background-color: #393e46;
  flex-basis: 40%;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  position: fixed;
  right: 0;
  z-index: -90;
  object-fit: contain;
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  /* width: 400px; */
}
.viewUser {
  background-color: #f3ffb9;
  width: 100%;
}
.ViewUsers_title {
  width: 100%;
  display: block;
}
.users_container {
  width: 1100px;
  margin-left: 100px;

  display: block;
}
.oneUser {
  color: white;
  width: 1000px;
  background-color: #1aa59a;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.463);
  margin-bottom: 25px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 50px;
}
.profile_pic {
  border-radius: 50%;
  border: 2px solid #1b5a7a;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

/* ViewUsers style end  */

/* all videos styles start  */
.video_cart {
  background-color: #f3ffb9;
  height: fit-content;
  width: 700px;
  margin: 10px;
  padding: 10px;
  margin-left: 40px;
  border-radius: 10px;
  border: 1px solid #1aa59a;
}
.title {
  background: linear-gradient(
    rgba(17, 235, 17, 0.444),
    rgba(182, 228, 16, 0.367)
  );
  width: fit-content;
  border-radius: 10px;
  padding: 5px 20px;
}
.searchBar {
  background-color: #1aa59a;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 500px;
  margin-left: 20px;
  padding: 5px 30px;
  border-radius: 20px;

  input {
    background-color: transparent;
    border: none;
    color: #f2f2f2;
    padding: 5px;
  }
}
::placeholder {
  /* Edge 12 -18 */
  color: white;
  padding: 5px;
  font-weight: 600;
  /* font-size: 13px; */
}
#searchicon {
  color: white;
}
/* all videos styles end  */
.first-color {
  background: #1b5a7a;
}

.second-color {
  background: #1aa59a;
}

.third-color {
  background: #a6ed8e;
}

.fourth-color {
  background: #f3ffb9;
}
